@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap);



body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    overflow: hidden;
}

main{
    width: 100vw;
    height: 100svh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 1fr 1fr;
    grid-template-areas: "ui ui" "slider intro" "list list";
}

#UI{
    grid-area: ui;
}

#contSlide{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

#intro{
    grid-area: intro;
}

#contList{
    grid-area: list;
}

/* Nadim CSS */

#window{
    display: flex;
    height: 300px;
    width: 100%; /* Ensure slider takes full width */
    max-width: 500px; /* Limit slider width */
    background-color: black;
    border-radius: 10px;
    overflow: hidden; /* Hide overflow content */
    position: relative;

}

#window>div{
    display: flex;
}

#window>div>div{
    position: relative;
    height: 300px;
    width: 500px;
    right: 500px;
    }

#one{
background-color: #6baff3;
}
#two{
background-color: #E6F09C;
}
#three{
background-color: #EFA19B;
}
#four{
background-color: #495C70;
}
#five{
background-color: #6baff3;
}

#dotcontainer{
display: flex;
justify-content: space-between;
}
.dot{
height: 50px;
width: 7.5px;
color: black;
background-color: gray;
transition-duration: 0.2s;
border-radius: 0px 100px 100px 0px;
margin-top: 10px;
}



/* Hawa CSS */

.list-button,
.saved-button,
.search-button,
.search.button,
.home-button,
.discover-button {
    padding: 10px 20px;
    border: none;
    /*background-color: #483d8b;*/
    background-image: linear-gradient(to left, #ff5252, #ff9260);
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 25px;
    margin-left: 10px;
    transition-duration: 0.2s;
}
.list-button:hover,
.saved-button:hover,
.search-button:hover,
.search.button:hover,
.home-button:hover,
.discover-button:hover{
    scale: 1.05;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #f0f0f0;
    transform: translate(-50%, -50%);
    text-shadow: 4px 4px 4px rgba(243, 149, 41, 0.8);
}

#UI {
    /*background-color: #252551;*/
    background-image: linear-gradient(#202020, #1a1a1a);
    color: #fff;
    padding: 20px;
    position: relative;
}

.saved-button,
.home-button,
.discover-button,
.list-button {
    position: relative;
    z-index: 1;
}

.search-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

.search-input {
    padding: 10px;
    border: none;
    color: #8a2be2;
    color: #080707;
    border-radius: 25px;
    outline: none;
    width: 200px;
    transition: width 0.3s ease;
}

.search-input:focus {
    width: 300px;
}

#intro {
    text-align: center;
    margin-top: 50px;
    

}

#intro h1 {
   
  font-size: 32px;
  background: -webkit-linear-gradient(#ff5252, #ff9260);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#intro p {
    font-size: 18px;
    color: #060606;
    margin-bottom: 20px;
}

.start-button {
    padding: 10px 20px;
    background-image: linear-gradient(to left, #ff5252, #ff9260);
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition-duration: 0.3s;
}

.start-button:hover {
    filter: brightness(1.2); 
}


/* Oliver CSS */
