@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap);



body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    overflow: hidden;
}

main{
    width: 100vw;
    height: 100svh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 1fr 1fr;
    grid-template-areas: "ui ui" "slider intro" "list list";
}

#UI{
    grid-area: ui;
}

#contSlide{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

#intro{
    grid-area: intro;
}

#contList{
    grid-area: list;
}

/* Nadim CSS */

#window{
    grid-area: slider;
    display: flex;
    overflow: hidden;
    height: 300px;
    width: 500px;
    background-color: black;
    border-radius: 10px;
}

#window>div{
    display: flex;
}

#window>div>div{
    position: relative;
    height: 300px;
    width: 500px;
    right: 500px;
    }

#one{
background-color: #6baff3;
}
#two{
background-color: #E6F09C;
}
#three{
background-color: #EFA19B;
}
#four{
background-color: #495C70;
}
#five{
background-color: #6baff3;
}

#dotcontainer{
display: flex;
justify-content: space-between;
}
.dot{
height: 50px;
width: 7.5px;
color: black;
background-color: gray;
transition-duration: 0.2s;
border-radius: 0px 100px 100px 0px;
margin-top: 10px;
}



/* Hawa CSS */


/* Oliver CSS */
