@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap);

body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    overflow: hidden;
}

main{
    width: 100vw;
    height: 100svh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px 1fr 1fr;
    grid-template-areas: "ui ui" "slider intro" "list list";
}

#UI{
    grid-area: ui;
}

#contSlide{
    grid-area: slider;
}

#intro{
    grid-area: intro;
}

#contList{
    grid-area: list;
}

/* Nadim CSS */


/* Hawa CSS */


.saved-button
.home-button,
.discover-button {
    padding: 10px 20px;
    border: none;
    background-color: #066fc5;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 25px;
    margin-right: 10px;
   
}

#UI {
    background-color: #8ea0ed;
    color: #fff;
    padding: 20px;
}

.search-container {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}

.search-input {
    padding: 10px;
    border: none;
    background-color: #c7ccd2;
    color: #fff;
    border-radius: 25px;
    outline: none;
    width: 200px;
    transition: width 0.4s ease;
}

.search-input:focus {
    width: 300px;
}

.search-button{
padding: 10px 20px;
    border: none;
    background-color: #066fc5;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 25px;
    margin-left: 10px;
}

/* Oliver CSS */